{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=api_key&language=en-US&query=bear",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "be4565eda0950c3ac7c1be42d8c83ad3"
          ],
          "X-Memc-Age": [
            "4201"
          ],
          "X-Memc-Expires": [
            "17399"
          ],
          "Etag": [
            "W/\"854add0173cb0ee1257f5ff9cea99043\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/a2tys4sD7xzVaogPntGsT1ypVoT.jpg\",\"genre_ids\":[53,35],\"id\":804150,\"original_language\":\"en\",\"original_title\":\"Cocaine Bear\",\"overview\":\"Inspired by a true story, an oddball group of cops, criminals, tourists and teens converge in a Georgia forest where a 500-pound black bear goes on a murderous rampage after unintentionally ingesting cocaine.\",\"popularity\":2723.906,\"poster_path\":\"/gOnmaxHo0412UVr1QM5Nekv1xPi.jpg\",\"release_date\":\"2023-02-22\",\"title\":\"Cocaine Bear\",\"video\":false,\"vote_average\":6.525,\"vote_count\":382},{\"adult\":false,\"backdrop_path\":\"/pDyqbp5RymJoDRmx68cXLFty3LE.jpg\",\"genre_ids\":[27,28,53],\"id\":44224,\"original_language\":\"en\",\"original_title\":\"Bear\",\"overview\":\"Two young couples are driving through a remote forest when their car breaks down. When a run-in with a curious grizzly bear ends up with the bear being shot to death, the bear's mate arrives on the scene and vengefully attacks their van. The couples are trapped inside the disabled car and must come up with cleve[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=api_key&language=en-US&query=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "0ad04c4a8f86817194f97d0815bf2d05"
          ],
          "X-Memc-Age": [
            "5477"
          ],
          "X-Memc-Expires": [
            "16123"
          ],
          "Etag": [
            "W/\"0e23279b004381f72a34159d5c7dfd1f\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[],\"total_pages\":1,\"total_results\":0}"
        }
      },
      "recorded_at": "Thu, 23 Mar 2023 01:41:34 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=api_key&language=en-US&query=Bear",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Me[...]
[...]
