{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/804150?api_key=api_key&append_to_response=reviews,credits&language=en-US",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "867e1610e83e7c7189ebfdf921d157fe"
          ],
          "X-Memc-Age": [
            "5750"
          ],
          "X-Memc-Expires": [
            "12107"
          ],
          "Etag": [
            "W/\"614f9bb08f213c82867c1777d085bcc8\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"backdrop_path\":\"/a2tys4sD7xzVaogPntGsT1ypVoT.jpg\",\"belongs_to_collection\":null,\"budget\":35000000,\"genres\":[{\"id\":53,\"name\":\"Thriller\"},{\"id\":35,\"name\":\"Comedy\"},{\"id\":27,\"name\":\"Horror\"},{\"id\":80,\"name\":\"Crime\"}],\"homepage\":\"\",\"id\":804150,\"imdb_id\":\"tt14209916\",\"original_language\":\"en\",\"original_title\":\"Cocaine Bear\",\"overview\":\"Inspired by a true story, an oddball group of cops, criminals, tourists and teens converge in a Georgia forest where a 500-pound black bear goes on a murderous rampage after unintentionally ingesting cocaine.\",\"popularity\":3813.468,\"poster_path\":\"/gOnmaxHo0412UVr1QM5Nekv1xPi.jpg\",\"production_companies\":[{\"id\":33,\"logo_path\":\"/8lvHyhjr8oUKOOy2dKXoALWKdp0.png\",\"name\":\"Universal Pictures\",\"origin_country\":\"US\"},{\"id\":12365,\"logo_path\":null,\"name\":\"Brownstone Productions\",\"origin_country\":\"US\"},{\"id\":77973,\"logo_path\":null,\"name\":\"Lord Miller Productions\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"IE\",\"name\":\"Ireland\"},{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"2023-02-22\",\"revenue\":70968453,\"runtime\":95,\"spoken_languages\":[{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"}],\"status\":\"Released\",\"tagline\":\"Get in line.\",\"title\":\"Cocaine Bear\",\"video\":false,\"vote_average\":6.514,\"vote_count\":397,\"reviews\":{\"page\":1,\"results\":[{\"author\":\"MSB\",\"author_details\":{\"name\":\"MSB\",\"username\":\"msbreviews\",\"avatar_path\":\"/https://www.gravatar.com/avatar/992eef352126a53d7e141bf9e8707576.jpg\",\"rating\":6.0},\"content\":\"FULL SPOILER-FREE REVIEW @ https://www.msbreviews.com/movie-reviews/cocaine-bear-review\\r\\n\\r\\n\\\"COCAINE BEAR offers what one expects from it: an absolutely INSANE bear wreaking gory, bloody havoc while also doing the stupidest things imaginable. A totally nonsensical yet extremely entertaining time where nothing else matters besides the bear who did cocaine.\\\"\\r\\n\\r\\nRating: B-\",\"created_at\":\"2023-02-23T21:14:37.835Z\",\"id\":\"63f7d73d68b1ea0079cc0a45\",\"updated_at\":\"2023-02-23T21:14:37.955Z\",\"url\":\"https://www.themoviedb.org/review/63f7d73d68b1ea0079cc0a45\"},{\"author\":\"CinemaSerf\",\"author_details\":{\"name\":\"CinemaSerf\",\"username\":\"Geronimo1967\",\"avatar_path\":\"/1kks3YnVkpyQxzw36CObFPvhL5f.jpg\",\"rating\":7.0},\"content\":\"OK, so the plot wears a little thin after a while but I really did quite enjoy this daft action adventure film. It all starts with a bloke tossing bags from an aircraft before he clonks his head on the door whilst leaving, mid-air, and next thing the p[...]
